* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 0.8rem 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: none;
}

@media screen and (max-width: 678px) {

    ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 80px;
        background: #000;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        right: 2px;
    }

    ul.show-menu {
        display: flex;
    }

    ul.hide-menu {
        display: none;
    }

    .btn {
        display: block;
        cursor: pointer;
    }
}